#videos{
padding:80px 10%;
}

.video-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
gap:25px;
}

.video-container iframe{
width:100%;
aspect-ratio:16/9;
border:none;
border-radius:15px;
box-shadow:0 0 20px rgba(0,255,136,.2);
transition:.4s;
background:#000;
}

.video-container iframe:hover{
transform:scale(1.02);
box-shadow:0 0 25px rgba(0,255,136,.5);
}

@media(max-width:768px){

.video-container{
grid-template-columns:1fr;
}

.video-container iframe{
height:auto;
}

}
