#videos h2{
  text-align:center;
  margin-bottom:15px;
  color:#00ff88;
}

.video-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:25px;
  padding-top:20px;
}

.video-item{
  background:#161b22;
  border-radius:15px;
  overflow:hidden;
  text-align:center;
  transition:.3s;
}

.video-item iframe{
  width:100%;
  aspect-ratio:16/9;
  border:none;
  display:block;
}

.video-item h3{
  padding:10px;
  color:white;
  font-size:1rem;
  background:#111827;
}

.video-item:hover{
  transform:scale(1.03);
  box-shadow:0 0 20px #00ff88;
}
